* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #424874;
    min-height: 100% !important;
    height: 100%;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#english-name {
    color: #F4EEFF;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
    z-index: 1;
}

#chinese-name {
    display: block;
    position: absolute;
    color: #A6B1E1;
    font-size: 15rem;
    opacity: 0.0;
}

@media (max-width: 636px) {
    #english-name {
        font-size: 3rem;
    }
    
    #chinese-name {
        font-size: 10rem;
    }
}

@media (max-width: 428px) {
    #english-name {
        font-size: 2.5rem;
    }
}