:root {
    --border-color: rgb(255, 255, 255, 0.1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

html {
    overflow-x: hidden;
}

html, body {
    /* background-color: #424874; */
    min-height: 100% !important;
    height: 100%;
    font-family: "Space Mono", monospace;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #F4EEFF;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    justify-content: center;
    opacity: 0;
}

nav > .nav-section {
    padding: 2rem 2rem;
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

@keyframes slideUp {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0%);
    }
}

#cover {
    display: none;
    background: transparent;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#424874;
}

#main-name {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
}

#english-name {
    color: #F4EEFF;
    font-size: 5rem;
    z-index: 1;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#idle-warning {
    color: #f4eeff;
    opacity: 0.0;
    font-size: 2rem;
    z-index: 1;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    position: absolute;
    bottom: -48px;
}

#chinese-name {
    display: block;
    position: absolute;
    color: #A6B1E1;
    font-size: 15rem;
    opacity: 0.0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#skills-main {
    width: 100%;
    height: 90%;
    background-color: #7683bd;
    display: none;
}

#skills-content {
    width: 100%;
    height: 80%;
}

#skills-header {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-weight: bold;
    padding-top: 6%;
    padding-bottom: 2%;
    font-size: 4rem;
}

#skills-description {
    display: flex;
    color: #F4EEFF;
    font-size: 1.75rem;
}

#skills-languages, #skills-tools {
    flex-basis: calc(100% / 2);
    text-align: center;
    margin-top: 2.5rem;
    text-align: center;
}

.ind-skill {
    margin-top: 2rem;
    display: inline-block;
    font-size: 1rem;
    flex: 1 0 auto;
    max-width: 200px; 
    min-width: 150px; 
}

.ind-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    text-align: center;
    min-height: 92px;
    height: 100%; /* Add this line */
}

.skill-img {
    width: 60px;
    height: 60px;
    margin-bottom: 0.5rem; 
}

.logo-img {
    width: 48px;
    height: 48px;
}

#scikit-learn-wrapper {
    width: 100px;
    height: 60px;
}

#scikit-learn-img {
    width: 89px;
    height: 48px;
}

#separator-one {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 7.5vw solid #CEEC97;
    margin-top: -7.5vw;
    display: none;
}

#projects-main {
    width: 100%;
    height: fit-content;
    padding-bottom: 10%;
    background-color: #CEEC97;
    display: none;
}

#projects-content {
    width: 100%;
    height: fit-content;
    scroll-margin-top: 7.5vw;
}

#projects-header {
    display: flex;
    justify-content: center;
    color: #253031;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 4rem;
}

#projects-description {
    display: flex;
    justify-content: center;
    color: #253031;
    font-size: 1.75rem;
    flex-wrap: wrap;
}

.project-img {
    width: 512px;
    min-width: 320px;
    height: auto;
    border-radius: 30px;
}

.project-name {
    color: black;
    padding-bottom: 1rem;
}

#ind-proj {
    padding: 1rem 2rem 2rem 2rem;
    text-align: center;
    flex-basis: calc(100% / 2);
}

#project-link {
    color: black;
    font-size: 2rem;
}

#separator-two {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 7.5vw solid #7683bd;
    margin-top: -7.5vw;
    display: none;
}

#about-main {
    width: 100%;
    height: 100%;
    background-color: #7683bd;
    display: none;
}

#about-content {
    width: 100%;
    height: 80%;
    scroll-margin-top: 7.5vw;
}

#about-header {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 4rem;
}

#about-description {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F4EEFF;
    font-size: 1.75rem;
}

#about-image, #about-me {
    flex-basis: calc(100% / 2);
    padding: 2rem;
    width: 100%;
}

#about-me {
    font-size: 1.5rem;
    padding-right: 14%;
}

#about-image {
    padding-left: 14%;
}

#selfie-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#selfie {
    width: 400px;
    border-radius: 15px;
    margin-top: 10px;
}

footer {
    display: none;
    width: 100%;
    background-color: #424874;
    padding: 4rem 0;
}

#footer-arrow-up-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.footer-element {
    display: inline-block;
    transition: transform 0.2s ease;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
  
.footer-element:hover {
    transform: translateY(-5px);
}

#footer-social-media-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

#footer-social-media-div a {
    margin: 1.8rem;
    margin-bottom: 0;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

@media (max-width: 1700px) {
    #about-me {
        font-size: 1.4rem;
        padding-right: 8%;
    }
    
    #about-image {
        padding-left: 10%;
    }

    #projects-main {
        width: 100%;
        height: fit-content;
        scroll-margin-top: 7.5vw;
    }
}

@media (max-width: 1470px) {
    #projects-header {
        padding-bottom: 1%;
    }
    
    #projects-description {
        font-size: 1.5rem;
    }

    #ind-proj {
        padding: 0rem 2rem 2rem 2rem;
        text-align: center;
        flex-basis: calc(100% / 2);
    }

    #about-me {
        font-size: 1.35rem;
        padding-right: 8%;
    }
    
    #about-image {
        padding-left: 10%;
    }
}

@media (max-width: 1151px) {
    .project-img {
        width: 350px;
    }

    #about-me {
        font-size: 1.2rem;
    }

    #selfie {
        width: 320px;
    }
}

@media (max-width: 768px) {
    .ind-skill {
      flex: 1 0 30%; 
      max-width: 30%; 
    }

    .ind-proj-blurb {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }

    #skills-languages, #skills-tools {
        flex-basis: calc(100% / 2);
        text-align: center;
        margin-top: 2rem;
    }

    #english-name {
        font-size: 3rem;
    }

    #idle-warning {
        font-size: 1.2rem;
    }
    
    #chinese-name {
        font-size: 10rem;
    }

    nav > .nav-section {
        gap: 4rem;
        align-items: center;
        justify-content: center;
    }

    #nav-about,
    #nav-skills,
    #nav-projects {
        flex-basis: calc(100% / 3);
    }

    #english-name {
        font-size: 2.1rem;
    }

    nav > .nav-section {
        gap: 3rem;
        padding: 1.5rem 1.5rem;
    }

    #separator-one, #separator-two {
        display: none !important;
    }

    #about-header, #skills-header, #projects-header {
        font-size: 2.25rem;
        padding-top: 10%;
    }

    #about-description, #skills-description, #projects-description {
        font-size: 1.5rem;
    }

    #about-content, #skills-content, #projects-content {
        scroll-margin-top: 0;
        height: fit-content;
        min-height: 830px;
    }

    #about-main, #skills-main, #projects-main {
        height: fit-content;
        min-height: 830px;
    }
    #skills-main {
        padding-bottom: 37.5px;
    }

    #about-image,
    #about-me {
        margin-top: 0rem;
        flex-basis: 100%;
    }
  
    #about-me {
        font-size: 1rem;
    }

    .project-img {
        width: 300px;
        height: auto;
        border-radius: 30px;
    }

    #projects-description {
        display: block;
    }

    #ind-proj {
        padding: 20px;
        text-align: center;
        font-size: 1rem;
    }

    #project-link {
        color: black;
        font-size: 1.5rem;
    }

    #selfie {
        width: 225px;
    }

    #about-description {
        display: block;
        color: #F4EEFF;
        text-align: center;
    }
    
    #about-image, #about-me {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0;
        padding-bottom: 10%;
    }

    #about-main {
        width: 100%;
        height: fit-content;
        background-color: #7683bd;
        display: none;
    }
}