:root {
    --border-color: rgb(255, 255, 255, 0.1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

html {
    overflow-x: hidden;
}

html, body {
    /* background-color: #424874; */
    min-height: 100% !important;
    height: 100%;
    font-family: "Space Mono", monospace;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #F4EEFF;
}

nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    position: absolute;
    justify-content: center;
    opacity: 0;
}

nav > .nav-section {
    padding: 2rem 2rem;
    display: flex;
    gap: 6rem;
    align-items: center;
    justify-content: center;
}

@keyframes slideUp {
    from {
        transform: translateY(15%);
    }

    to {
        transform: translateY(0%);
    }
}

#cover {
    display: none;
    background: transparent;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: 2;
}

#name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color:#424874;
}

#english-name {
    color: #F4EEFF;
    font-size: 5rem;
    z-index: 1;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#chinese-name {
    display: block;
    position: absolute;
    color: #A6B1E1;
    font-size: 15rem;
    opacity: 0.0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#skills-main {
    width: 100%;
    height: 90%;
    background-color: #7683bd;
    display: none;
}

#skills-content {
    width: 100%;
    height: 80%;
}

#skills-header {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-weight: bold;
    padding-top: 6%;
    padding-bottom: 2%;
    font-size: 4rem;
}

#skills-description {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-size: 1.75rem;
}

#separator-one {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 7.5vw solid #424874;
    margin-top: -7.5vw;
    display: none;
}

#projects-main {
    width: 100%;
    height: 80%;
    background-color: #424874;
    display: none;
}

#projects-content {
    width: 100%;
    height: 80%;
    scroll-margin-top: 7.5vw;
}

#projects-header {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 4rem;
}

#projects-description {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-size: 1.75rem;
}

#separator-two {
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-bottom: 7.5vw solid #7683bd;
    margin-top: -7.5vw;
    display: none;
}

#about-main {
    width: 100%;
    height: 100%;
    background-color: #7683bd;
    display: none;
}

#about-content {
    width: 100%;
    height: 80%;
    scroll-margin-top: 7.5vw;
}

#about-header {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 2%;
    font-size: 4rem;
}

#about-description {
    display: flex;
    justify-content: center;
    color: #F4EEFF;
    font-size: 1.75rem;
}

@media (max-width: 636px) {
    #english-name {
        font-size: 3rem;
    }
    
    #chinese-name {
        font-size: 10rem;
    }

    nav > .nav-section {
        gap: 4rem;
        align-items: center;
        justify-content: center;
    }

    #nav-about,
    #nav-skills,
    #nav-projects {
        flex-basis: calc(100% / 3);
    }
}

@media (max-width: 500px) {
    #english-name {
        font-size: 2.1rem;
    }

    nav > .nav-section {
        gap: 3rem;
        padding: 1.5rem 1.5rem;
    }
}